<!DOCTYPE html>
<html>
<head>
    <title>Upload Image</title>
</head>
<body>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <h1>Upload an Image</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>

    <h2>Uploaded Images</h2>
    {% for file in files %}
        <div>
            <h3>{{ file.name }}</h3>
            <img src="/file/{{ file.id }}" alt="{{ file.name }}" style="max-width: 200px;">
        </div>
    {% endfor %}
</body>
</html>
